<%- include('partials/header') %>

  <h1>📚 All Blog Posts</h1>

  <a class="btn btn-primary" href="/posts/new">NEW</a>

  <% if (posts.length===0) { %>
    <p class="message">No posts yet.</p>
    <% } else { %>
      <ul>
        <% posts.forEach(post=> { %>
          <li>
            <h3><a href="/posts/<%= post.id %>">
                <%= post.title %>
              </a></h3>
            <p class="muted">
              <%= post.summary %>
            </p>
          </li>
          <% }) %>
      </ul>
      <% } %>

        <%- include('partials/footer') %>